body{
  font-family: 'OPPOSans-Ver2-Regular', Helvetica, Arial, sans-serif, system-ui;
}
.navbar-brand img {
    max-height: 40px;
}
@media screen and (max-width: 300px) {
    div.example {
      display: none;
    }
}